{% extends 'base.html' %}

{% block content %}
<div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
<form method='POST' action='/sports'>
    <center>
    <h1>HUSTL</h1>
    </center>
    <fieldset>
        <legend>Profile</legend>
        <p>
            <label for='sport-title'>Name</label><br>
            <input id='sport-title' type='text' name='title' />
        </p>
            <p>
                <label for='sport-height'>Height</label><br>
                <input id='sport-height' type='text' name='height' />
            </p>
        <p>
                <label for='sport-weight'>Weight</label><br>
                <input id='sport-weight' type='text' name='weight' />
        </p>
            <p>
                <label for='sport-Hometown'>Hometown</label><br>
                <input id='sport-Hometown' type='text' name='Hometown' />
            </p>
            <p>
                    <label for='sport-Hometown'>Current City</label><br>
                    <input id='sport-Hometown' type='text' name='Hometown' />
            </p>
            <p>
                    <label for='sport-Schools'>Schools</label><br>
                    <input id='sport-Schools' type='text' name='Schools' />
            </p>
        <p>
            <label for='description'>Tell Us A Little Bit About Yourself</label><br>
            <textarea class='form-control' id='description' type='text' name='description' /></textarea>
        </p>
        <div class='form-group'>
    </fieldset>
    <!-- BUTTON -->
    <div class='form-group'>
    <p>
            <button class='btn btn-primary' type='submit'>Save Profile</button>
        </div>
    </p>
</form>
</div>
</div>
{% endblock %}