<!-- {% extends 'base.html' %} -->

{% block content %}
<div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
<form method='POST' action='/sports/{{sport._id}}'>
    <input type='hidden' name='_method' value='PUT'/>
    <fieldset>
        
        <!-- TITLE -->
        <p>
            <label for='sport-title'>Title</label><br>
            <input id='sport-title' type='text' name='title' value='{{ sport.title }}'/>
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' value='{{ sport.description }}' />
        </p>

        <!-- VIDEO LINKS -->
        <div class='form-group'>
                <label for='description'>Image URL</label><br>
                <textarea class='form-control' id='sport-image' type='text' name='Images' />{{ "\n".join(sports) }}</textarea>
            </div>
    </fieldset>
    {% include 'partials/sports_form.html' %}
    <!-- BUTTON -->
    <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Save Profile</button>
        </div>
    </form>
</div>
</div>
{% endblock %}