{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <div>
            {% if sport.created_at %}
            <p class='text-muted'>Created on {{ sport.created_at.strftime('%A, %d %B, %Y') }}
                at {{ sport.created_at.strftime('%I:%M %p') }}</p>
            {% endif %}
            <h1>{{ sport.title }}</h1>
            
            <h2>{{ sport.description }}</h2>
        </div>
        <p><a href='/sports/{{ sport._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/sports/{{ sport._id }}/delete'>

            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
        <hr>

     <!-- Show Comments -->
    {% for comment in comments %}
    {% include 'partials/comment.html' %}
{% endfor %}

    </div>
</div>
{% endblock %}